:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
}

[data-bs-theme=dark] {
    --bs-body-bg: #2e2c47;
    --bs-body-bg-rgb: 46, 44, 71;
    --bs-primary-color-contrast: #2e2c47!important;
}

body {
    background: #d1d0d6;
}

h1 {
    color: #2e2c47;
    background-color: var(--bs-primary);
    text-align: center;
    padding: 1rem 0;
    font-weight: 700;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: bold;
    box-shadow: 0 0 0 2px rgba(var(--bs-primary-rgb), 0.4);
}

.content {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.home {
    min-height: 100vh;
    padding-bottom: 7rem;
}

.home .navbar {
    margin-bottom: 5rem;
}

.home::after {
    position: absolute;
    z-index: 0;
    bottom: -1px;
    height: 240px;
    left: 0;
    right: 0;
    content: "";
    background: url(../svg/header_shape.svg) center / cover no-repeat;
}

.top-header,
.home {
    position: relative;
}

.top-header .logo {
    max-height: 100px;
}

.home .logo {
    max-height: 175px;
}

.home::before,
.top-header::after {
    position: absolute;
    background-color: rgba(46, 44, 71, 0.7);
    content: "";
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.navbar .nav-item {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.navbar .nav-item .nav-link {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active,
.navbar .dropdown-toggle::after {
    color: var(--bs-primary);
}

.footer {
    position: relative;
    margin-top: 350px;
}

.home-footer {
    background-color: #34324b !important;
}

.footer .logo {
    max-height: 200px;
}

.footer .text-bg-primary a {
    color: #2e2c47;
}

.footer-links .list-inline-item:not(:last-child)::after {
    margin-left: 0.5rem;
    font-weight: bolder;
    content: "-";
}

.footer::before {
    position: absolute;
    z-index: -1;
    height: 280px;
    top: -275px;
    left: 0;
    right: 0;
    content: "";
    background: url('../svg/footer_shape.svg') center / cover no-repeat;
}
